/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: clamp(to-rem(12), to-view-width(16), to-rem(20));
  font-family: $ff-primary;
  color: color('neutral', 500);
}

%heading {
  font-weight: 700;
  color: color('primary', 500);
}

h1,
.h1 {
  font-size: clamp(to-rem(24), to-view-width(38), to-rem(52));
  font-weight: 300;
  color: color('neutral');
  letter-spacing: calc(-4 * 0.01em);

  span {
    @extend %heading;
  }
}

input,
input::placeholder {
  font-size: clamp(to-rem(12), to-view-width(14), to-rem(16));
}
