// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

/// Main font family
$ff-primary: 'Libre Franklin', sans-serif;

/// Container's maximum width
/// @type Length
$max-width: 69.375rem !default;

$colors: (
  primary: (
    300: hsl(223, 100%, 88%),
    400: hsl(223, 87%, 63%),
    500: hsl(209, 33%, 12%),
  ),
  neutral: (
    300: hsl(0, 0%, 100%),
    400: hsl(0, 0%, 59%),
    500: hsl(225, 4%, 18%),
  ),
  accent: (
    400: hsl(354, 100%, 66%),
  ),
);

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 20em,
  'medium': 48em,
  'large': 64em,
) !default;

/// Z-indexes map, gathering all Z layers of the application
/// @access private
/// @type Map
/// @prop {String} key - Layer’s name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
  'above': 600,
  'modal': 500,
  'dropdown': 400,
  'default': 1,
  'below': -1,
);
