// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  height: inherit;
}
