// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.form {
  *::placeholder {
    opacity: 1;
    color: color('primary', 300);
  }

  &[data-valid='false'] &__input {
    border: to-rem(1) solid color('accent');
  }

  &[data-valid='false'] &__error-msg {
    display: block;
  }

  &__label {
    display: grid;
    justify-items: center;
    gap: to-rem(8);
  }

  &__input {
    width: 100%;
    background: none;
    border: to-rem(1) solid color('primary', 300);
    border-radius: to-rem(30);
    color: color('neutral', 500);
    padding: to-rem(14) to-rem(32);

    @include breakpoint('large') {
      padding: to-rem(20) to-rem(32);
    }
  }

  &__error-msg {
    display: none;
    color: color('accent');
    font-size: clamp(to-rem(10), to-view-width(11), to-rem(12));
    font-style: italic;
    font-weight: 600;
    padding-bottom: to-rem(16);

    @include breakpoint('medium') {
      justify-self: start;
      padding-left: to-rem(32);
    }
  }
}
