// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.footer {
  display: grid;
  justify-items: center;
  gap: to-rem(24);
  align-self: end;
  padding-block: to-rem(60) to-rem(32);
  margin-top: auto;
  text-align: center;

  &__social-list {
    list-style: none;
    display: flex;
    gap: to-rem(14);
  }

  &__copy {
    font-size: clamp(to-rem(10), to-view-width(11), to-rem(12));
    color: color('neutral');
  }
}
